@model LatiumMarketplace.Models.MessagingViewModels.Message

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateRead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MessageContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MessageThreadID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageThreadID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Read)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecipientID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipientID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
