@model LatiumMarketplace.Models.MessageViewModels.Message

@{
    ViewData["Title"] = "Details";
}

<script>
    function markAsRead(id) {
        console.log("In view message, mark as read.");
        $.ajax({
        url: '@Url.Action("ViewMessageMarkAsRead", "MessagesAPI")',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(id),
            success: function () {
                console.log("Marked as read.")
            },
            error: function (error) {
                console.log(error)
                var x = error; //break here for debugging.
            }
        });
    }
    markAsRead('@Model.id');
</script>

<div class="spaceUnderLogo">

    <h2>Details</h2>
    <div>
        <h4>Message</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SendDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SendDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>