@model IEnumerable<LatiumMarketplace.Models.AssetViewModels.Make>


@{
    ViewData["Title"] = "AddMake";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">

</head><!--/head-->
<script>
    $(document).ready(function () {
        $("#addmake").submit(function (e) {
            //---------------^---------------
            e.preventDefault();
            console.log("In PostMake");
            var makeName = $('#newMakeName').val();
            $.ajax({
                url: '@Url.Action("PostMake", "AssetsApi")',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(makeName),
                success: function () {
                    console.log("Success");
                    var newRow = '<tr><td></td><td>' + makeName + '</td>';

                    $("#makeTable tbody").append(newRow);
                    console.log("Finished");
                    $('#newMakeName').val('');
                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });
            console.log("Test Done")
        });
    });
</script>
<div class="spaceUnderLogo">

    <h2>Makes</h2>
    <br />
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <br />
                    <br />
                    <form action="" method="POST" id="addmake" role="form">
                        <input id="newMakeName" class="form-control" type="text" name="CategoryName" placeholder="New Make" required="required">
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-9 padding-right">
                    <table id="makeTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MakeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MakeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    </div>