@model LatiumMarketplace.Models.AssetViewModels.AssetLocation


@{
    ViewData["Title"] = "AdminListings";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">

</head><!--/head-->
<h2>My Listings</h2>


<section>

    <div class="container">
        <div class="row">
                <div class="col-sm-3">
                    <form asp-controller="Admin" asp-action="AdminListings" method="get">

                        <input class="form-control" type="text" name="SearchString" placeholder="Search"><br />
                        <p>
                            Search by Location: <select asp-for="assetLocation" asp-items="Model.locations">
                                <option value="">All</option>
                            </select>
                        </p>
                        <p>
                            Sort by : <br>
                            <input type="radio" name="SortBy" value="asset"> Asset<br>
                            <input type="radio" name="SortBy" value="request"> Request<br>
                            Most recent : <input type="checkbox" name="recent" value=true><br>
                            With accessory : <input type="checkbox" name="accessory" value=true><br>
                            Featured Item : <input type="checkbox" name="featuredItem" value=true><br>
                            <input type="submit" value="Filter" />
                        </p>
                        <div class="left-sidebar">
                            <h2>Category</h2>
                            <div class="panel-group category-products" id="accordian">
                                <!--category-productsr-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#truck">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                Truck
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="truck" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">GMC </a></li>
                                                <li><a href="#">CHEV </a></li>
                                                <li><a href="#">FORD </a></li>
                                                <li><a href="#">HUMMER</a></li>
                                                <li><a href="#">Made in china</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/category-products-->
                        </div>
                    </form>
                </div>
                <div class="col-sm-9 padding-right">
                         <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Date Added
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.assets[0].ownerName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.assets[0].name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.assets[0].Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.assets[0].City)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.assets[0].description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.assets[0].accessory)
                                        </th>
                                        <th>
                                           Featured Item
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.assets)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.addDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ownerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.accessory)
                                            </td>
                                            <td>
                                                <a asp-action="AddFeature" asp-route-id="@item.assetID">Add</a> |
                                                <a asp-action="RemoveFeature" asp-route-id="@item.assetID">Remove</a> 

                                            </td>
                                            <td>
                                                <a asp-controller="Assets" asp-action="Details" asp-route-id="@item.assetID">Details</a> 
                                                <a asp-action="Delete" asp-route-id="@item.assetID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                </div>
        </div>
    </div>
</section>