@model LatiumMarketplace.Models.ApplicationUser

@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.firstName</h2>

<div>
    <   <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>

   <!--@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |-->
   <!-- <a asp-action="Edit" asp-route-id= "@Model.Id"> Edit</a> | -->
    <a asp-action="Edit" asp-route-id="@Model">Edit</a>
    <!--<a asp-controller="Manage" asp-action="Edit" class="btn-bracketed">Edit</a>-->

    <a asp-action="Index">Back to List</a> |
    <!--<a asp-action="Edit">Edit</a>-->
</div>
