@model LatiumMarketplace.Models.AssetViewModels.Asset
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    <a asp-controller="MessageThreads" asp-action="Create">Respond to message</a> |
    <a asp-controller="Bids" asp-action="Create">Place a bid </a>
</p>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.addDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.addDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ownerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ownerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accessory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accessory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.priceDaily)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.priceDaily)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.priceMonthly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.priceMonthly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.priceWeekly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.priceWeekly)
        </dd>
    </dl>
</div>
<div>
    @{if (@Model.ownerID == @UserManager.GetUserId(User)) {<a asp-action="Edit" asp-route-id="@Model.assetID">Edit</a>}} |
    <a asp-action="Index">Back to List</a>
</div>
