@model LatiumMarketplace.Models.AssetViewModels.AssetIndexData


@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">

</head><!--/head-->
<div class="container">
    <div class="row">
        <!-- ==== Begin left-bar ==== -->
        <div class="col-md-3">
            <!-- Begin create action ==== -->
            <ul class="list-unstyled">
                <li><a asp-action="Create">Create New Asset</a></li>
                <li><a asp-action="CreateReq">Create New Request</a></li>
            </ul>
            <!-- End of Create action === -->
            <!-- === Begin search form === -->
            <form asp-controller="Assets" asp-action="Index" method="get">
                <input class="form-control" type="text" name="SearchString" placeholder="Search">

                <div class="">
                    <label class="">Search by Location</label>
                    @Html.DropDownList(
                            "Cities",
                            (SelectList)ViewBag.Cities,
                            "All",
                            new { @class = "" }
                        )
                </div>
                <div class="sort-by">
                    <h4>Sort by</h4>
                    <input type="radio" name="SortBy" value="all" checked> All<br>
                    <input type="radio" name="SortBy" value="asset"> Asset<br>
                    <input type="radio" name="SortBy" value="request"> Request<br>
                    Most recent : <input type="checkbox" name="recent" value=true><br>
                    With accessory : <input type="checkbox" name="accessory" value=true><br>
                    <input type="submit" value="Filter" />
                </div>

                <div class="asset-categories">
                    <h4>Category</h4>
                </div>
            </form>
            <!-- === End of search form === -->
        </div>
        <!-- ==== End left-bar ==== -->
        <!-- Begin right-bar === -->
        <div class="col-md-9">
            <ul id="all-assets" class="row list-unstyled">
                @foreach (var item in Model.Assets)
                {
                    <li id="asset-@item.assetID" class="col-sm-6 col-md-4 single-asset margin-bottom-30">
                        <!-- Begin single-asset-wrapper -->
                        <div class="single-asset-container">
                            @if (@item.ImageGallery != null)
                            {
                                @*Show only the first image in gallery*@
                                @if (@item.ImageGallery.Images.Any(e => e.ImageGalleryId == item.ImageGalleryId))
                                {
                                    <div class="asset-image-container">
                                        <a asp-action="Details" asp-route-id="@item.assetID" class="">
                                            <img src="@item.ImageGallery.Images.First().FileLink" alt="@item.name"
                                                 class="img-responsive" />
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="asset-image-container">
                                        <a asp-action="Details" asp-route-id="@item.assetID" class="">
                                            <img src="~/images/preview-not-available.jpg" alt="No asset image"
                                                 class="img-responsive" />
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="asset-image-container">
                                    <a asp-action="Details" asp-route-id="@item.assetID" class="">
                                        <img src="~/images/preview-not-available.jpg" alt="No asset image"
                                             class="img-responsive" />
                                    </a>
                                </div>
                            }
                            <div class="asset-summary-container">
                                <h4>
                                    <a asp-action="Details" asp-route-id="@item.assetID" class="">
                                        @Html.DisplayFor(modelItem => item.name)
                                    </a>
                                </h4>
                                <p>$@Html.DisplayFor(modelItem => item.price)</p>
                            </div>

                        </div><!-- End single-asset-wrapper -->    
                    </li>

                }
            </ul>
        </div>
    </div>
</div>