@model LatiumMarketplace.Models.MessageViewModels.MessageDetailsView

@{
    ViewData["Title"] = "Messages";
}

<h2>Previous Messages</h2>

<p>
    <a asp-controller="Messages" asp-action="Create">Respond to message</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages.First().SendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages.First().Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages.First().Body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SendDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to all message threads</a>
</div>