@model IEnumerable<LatiumMarketplace.Models.MessageViewModels.MessageThread>

@{
    ViewData["Title"] = "Index";
}

<h2>Current Discussions</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecieverEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asset.name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asset.name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Messages</a>
            </td>
        </tr>
}
    </tbody>
</table>
