@model LatiumMarketplace.Models.BidViewModels.Bid

@{
    ViewData["Title"] = "Create";
    DateTime availableDate = Model.asset.addDate;
}
<div class="spaceUnderLogo">

    @{
        @if (Model.asset.price > (decimal)0.00)
        {
            <form asp-action="Create">
                <div>
                    <h2>Buy Now!</h2>
                    <hr />
                    <h4>@Model.asset.name</h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.asset.price)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.asset.price)
                        </dd>
                    </dl>
                    @if (Model.asset.AccessoryListId != null)
                {
                        @if (Model.asset.AccessoryList.Accessories.Any(e => e.AccessoryListId == Model.asset.AccessoryListId))
                    {
                            <div class="col-md-9">
                                @*Show all images in gallery*@
                                @foreach (var item in Model.asset.AccessoryList.Accessories.Where(e => e.AccessoryListId == Model.asset.AccessoryListId))
                                {
                                    <span>@item.Title $@item.Price <input type="checkbox" name="bidAccessories" value=@item.Price onclick=myFunction((@item.AccessoryId),(@item.Price)); id=@item.AccessoryId></span> <br />
                                }
                            </div>
                        }
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="hidden" name="accessoryCharge" id="tempPrice" value="0">
                            <input type="submit" value="BUY" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form asp-action="Create">
                <div class="form-horizontal">
                    <h2>Rent Now!</h2>
                    <hr />
                    <h4>@Model.asset.name</h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>
                        @if (@Model.asset.priceDaily == (decimal)0.00)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.asset.priceDaily)
                            </dt>
                            <dd>
                                Not available
                            </dd>
                        }
                        else
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.asset.priceDaily)
                            </dt>
                            <dd>
                                $@Html.DisplayFor(model => model.asset.priceDaily)
                            </dd>
                        }
                        @if (@Model.asset.priceWeekly == (decimal)0.00)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.asset.priceWeekly)
                            </dt>
                            <dd>
                                Not available
                            </dd>
                        }
                        else
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.asset.priceWeekly)
                            </dt>
                            <dd>
                                $@Html.DisplayFor(model => model.asset.priceWeekly)
                            </dd>
                        }
                        @if (@Model.asset.priceMonthly == (decimal)0.00)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.asset.priceMonthly)
                            </dt>
                            <dd>
                                Not available
                            </dd>
                        }
                        else
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.asset.priceMonthly)
                            </dt>
                            <dd>
                                $@Html.DisplayFor(model => model.asset.priceMonthly)
                            </dd>
                        }
                        <dt> Available Starting From </dt>
                        <dd> @availableDate</dd>
                    </dl>

                    @if (Model.asset.AccessoryListId != null)
                {
                        @if (Model.asset.AccessoryList.Accessories.Any(e => e.AccessoryListId == Model.asset.AccessoryListId))
                    {
                            <div class="col-md-9">
                                @*Show all images in gallery*@
                                @foreach (var item in Model.asset.AccessoryList.Accessories.Where(e => e.AccessoryListId == Model.asset.AccessoryListId))
                                {
                                    <span>@item.Title $@item.Price <input type="checkbox" name="bidAccessories" value=@item.Price onclick=myFunction((@item.AccessoryId),(@item.Price)); id=@item.AccessoryId></span> <br />
                                }
                            </div>
                        }
                    }

                    <hr />
                    <h4>Pick Your Rental Period</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="startDate" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="startDate" class="form-control" />
                            <span asp-validation-for="startDate" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="endDate" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="endDate" class="form-control" />
                            <span asp-validation-for="endDate" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Rent" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        }
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function myFunction(accessoryId, accessoryCost) {
        console.log(' Aid: ' + accessoryId + ' ACost:' + accessoryCost);
        var checkBox = document.getElementById(accessoryId);
        var tempPrice = parseFloat(document.getElementById('tempPrice').value);
        if (checkBox.checked == true)
        {
            tempPrice += parseFloat(accessoryCost);
        }
        if (checkBox.checked == false)
        {
            tempPrice -= parseFloat(accessoryCost);
        }
        document.getElementById('tempPrice').value = tempPrice;
        console.log(document.getElementById('tempPrice').value);

        return (tempPrice);
    }

</script>