@model UnitedBidViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "INBOX";
    DateTime defaultDate = new DateTime(0001, 1, 1, 0, 0, 0);
}
<div class="spaceUnderLogo">

    <h2>My Offers</h2>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <form asp-controller="Bids" asp-action="Inbox" method="get">
                        <p>
                            Sort by : <br>
                            <input type="radio" name="SortBy" value="asset"> Asset<br>
                            <input type="radio" name="SortBy" value="request"> Request<br>
                            <br />
                            <input type="submit" value="Filter" />
                        </p>
                    </form>
                </div>
                <div class="col-sm-9 padding-right">
                    @foreach (var asset in Model.assetModel)
                    {
                        <h3>@Html.DisplayFor(modelItem => asset.name)</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Bid Price
                                    </th>
                                    <th>
                                        Details
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        End Date
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.inbox)
                                {
                                    if (item.asset_name == asset.name && (item.assetOwnerNotificationPending == false && item.chosen == true || item.assetOwnerNotificationPending == true))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bidder)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bidPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </td>
                                            <td>
                                                @if (item.startDate == defaultDate)
                                                {
                                                    <span>N/A</span>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.startDate)
                                                }
                                            </td>
                                            <td>
                                                @if (item.endDate == defaultDate)
                                                {
                                                    <span>N/A</span>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.endDate)
                                                }                                            </td>
                                            @if (item.chosen == true)
                                            {
                                                <td>
                                                    <span class="label label-success">Completed</span>
                                                </td>
                                                <td></td>
                                            }
                                            else if (item.assetOwnerNotificationPending == true)
                                            {
                                                <td>
                                                    <button id="@item.bidId.ToString()accept" type="button" onclick="acceptBid('@item.bidId.ToString()');" class="btn btn-success">Accept</button>
                                                </td>
                                                <td>
                                                    <button id="@item.bidId.ToString()accept" type="button" onclick="declineBid('@item.bidId.ToString()')" class="btn btn-danger">Decline</button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </section>
    <script>
    function acceptBid(bidId) {
        //var AcceptButtonId = bidId.concat(accept);
        $.ajax({
            url: '@Url.Action("AcceptBid", "BidsAPI")',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(bidId),
            success: function () {
                window.location.replace("@Url.Action("Transaction", "Bids")");
            },
            error: function (error) {
                console.log(error)
                var x = error; //break here for debugging.
            }
        });
    }

    function declineBid(bidId) {
        $.ajax({
            url: '@Url.Action("DeclineBid", "BidsAPI")',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(bidId),
            success: function () {
                window.location.reload();
            },
            error: function (error) {
                console.log(error)
                var x = error; //break here for debugging.
            }
        });
    }
    </script>
</div>