@model IEnumerable<LatiumMarketplace.Models.BidViewModels.Bid>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="spaceUnderLogo">

    <h2>Index</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.bidPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.endDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bidder)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.bidPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bidder)
                    </td>
                    <td>
                        <!-- <a asp-action="Edit" asp-route-id="@item.bidId">Edit</a> |
                         <a asp-action="Details" asp-route-id="@item.bidId">Details</a> |
                         <a asp-action="Delete" asp-route-id="@item.bidId">Delete</a> -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>