@model LatiumMarketplace.Models.TransactionViewModels.Transaction
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "History of Transactions";
}

<h2>Details</h2>
<p>
    <div>
    </div>
</p>
<div>
    <h4>Transaction History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.transactionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transactionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.assetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.assetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poster)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poster)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bidder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bidder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transactionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
